
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
  background-color: rgb(127, 127, 192);
  background: radial-gradient(rgb(156, 156, 214),rgb(49, 49, 141));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.game_title{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding: 2rem;
  letter-spacing: 6px;
  color: rgb(213, 204, 243);
  font-size: 3.5rem;
  margin-bottom: 6rem;
  margin-top: 3rem;
}




