.button_back{
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 4px 4px 10px black;
    background-color: rgb(107, 219, 107);
    font-weight: bold;
    color: black;
    font-size: 1.3rem;
    /* background: radial-gradient(rgb(121, 241, 121), rgb(44, 107, 44)); */
    transition-timing-function: ease;
    transition-duration: .8s;
    
    
    
}
.button_back:hover{
    background-color: rgb(39, 87, 39);
    color: white;
    cursor: pointer;
}
